/* Author of the code: Angela Lee
Used code from SmartPhoneProducts1 and adjusted it from there to my liking */

image img {
    /*To create a black border*/
    border: 5px solid black;
    /*To have a radius around the border*/
    border-radius: 4px;
    /* Some padding */
    padding: 3px;
    /*Set a small width*/
    width: 300px;
}

/* General from SmartPhoneProducts1 to position all five products*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

body {
    background-image: url(./images/Background.jpg);
}

h1 {
    text-align: center;
}